{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>登陆</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<link rel="stylesheet" href={% static "css/login-style.css" %} type="text/css" media="all">
</head>
<style>

</style>
<body>
	<h1>成绩管理系统</h1>
	<h2>Log in to your Account</h2>
	<div class="w3layoutscontaineragileits">
		<form action="#" method="post">
			<input type="text" Name="Userame" placeholder="ACCOUNT" required="">
			<input type="password" Name="Password" placeholder="PASSWORD" required="">
			<!-- <ul class="agileinfotickwthree">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>Remember me</label>
				</li>
			</ul> -->
			<div class="aitssendbuttonw3ls" style="	margin-top: 20px;">
				<input type="submit" value="LOGIN">
<!-- 				<p><a href="#">REGISTER NEW ACCOUNT <span>→</span></a></p> -->
				<div class="clear"></div>
			</div>
		</form>
	</div>
</body>
<!-- //Body -->

</html>