{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
	<div style="margin-left: 10px;"><h3>新闻发布</h3></div>
	<form action="" method="POST" enctype="multipart/form-data" style="margin: 10px 10px;">
		<input type="text" name="title" class="form-control" placeholder="标题" style="margin-bottom: 15px;" />
		<textarea class="form-control" name="content" style="margin-bottom: 15px;" rows="15"></textarea>

		<input class="btn btn-default" type="submit" style="float: right;" value=" 发布 " />
	</form>
{% endblock %}
